---
interface Props {
  id: string // ID of the collapsing div
  permanentDisplayDesktop?: boolean | undefined, // Whether or not to never collapse on desktop views (>=md) 
  closeOnClickOutDesktop?: boolean | undefined, // Whether clicking away from the collapse or opening another will cause the collapse to auto-close
  closeOnClickOutMobile?: boolean | undefined, // Whether clicking away from the collapse or opening another will cause the collapse to auto-close
  wmax?: boolean | undefined, // Whether to apply w-max; true by default
}

const { 
  id, 
  permanentDisplayDesktop,
  closeOnClickOutDesktop,
  closeOnClickOutMobile,
  wmax
} = Astro.props
---

<div class={`grid ${permanentDisplayDesktop && "grid md:block"}
             items-start 
             grid-cols-[5fc]
             ${wmax !== false && "w-max"}
             overflow-hidden ${permanentDisplayDesktop && "md:overflow-visible"}
             grid-rows-[0fr] ${permanentDisplayDesktop && "md:grid-rows-[1fr]"} 
             transition-[grid-template-rows] ease-[var(--spring-easing)] duration-[var(--spring-duration)]`
             } 
             id={id}
             data-clickout-close-desktop={!!closeOnClickOutDesktop} 
             data-clickout-close-mobile={!!closeOnClickOutMobile}>             
  <div class=`overflow-hidden ${permanentDisplayDesktop && "md:overflow-visible"} `>
    <slot />
  </div>
</div>
